<p id="notice"><%= notice %></p>

<h1>Harbours</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Lat</th>
      <th>Long</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @harbours.each do |harbour| %>
      <tr>
        <td><%= harbour.name %></td>
        <td><%= harbour.country %></td>
        <td><%= harbour.lat %></td>
        <td><%= harbour.long %></td>
        <td><%= link_to 'Show', harbour %></td>
        <td><%= link_to 'Edit', edit_harbour_path(harbour) %></td>
        <td><%= link_to 'Destroy', harbour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Harbour', new_harbour_path %>
