<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer_id %>
    <!-- %= form.text_field :customer_id % -->
     <%= form.collection_select( :customer_id, @customers, :id, :last_name ) %>
  </div>

  <div class="field">
    <%= form.label :cruise_id %>
    <%= form.hidden_field :cruise_id, :value=>@cruise.id %>
    <%= @cruise.name %>
  </div>

  <h4>Pick a cabin on the <%=@cruise.ship.name %></h4>
  <table>
  <tr>
  <th>Cabin</th><th>Deck</th><th>Beds</th>
  </tr>
  <% for cabin in @cabins %>
  <tr>
  <td><%= h cabin.name%></td>
  <td><%= h cabin.beds %></td>
  <td><%=h cabin.deck %></td>
  <td><%= radio_button('cabin', 'cabin_id', "#{cabin.id}") %></td>
  </tr>

  <% end %>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
